{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Safety Information for Night-Shift Workers">
    <meta name="author" content="Ruiwei Liang">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>{{ title }} - NightShift Worker Safety</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap-theme.min.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/libs/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/utils.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/font-awesome.min.css' %}" rel="stylesheet">

    
    <script src="{% static 'scripts/libs/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/libs/bootstrap.min.js' %}"></script>
    {% block head %}
    {% endblock head %}



</head>
<body>
<header class="navbar">
    <div class="navbar-box positioner">
        <div class="navbar-item">
            <a href="{% url 'index' %}"><h3 id="logo">safe@<span class="safety">night</span></h3></a>
        </div>
        <div class="navbar-item">
            <ul class="navbar-ul">
                <li><a id="sms-a" href="{% url 'sms:sms_home' %}">SMS</a></li>
                <li><a id="cs-a" href="{% url 'crime:crime_home' %}">Crime Stats</a></li>
                <li><a id="info-a" href="{% url 'safety_info:safety_info_home' %}">Safety Tips</a></li>
                <li><a id="about-a" href="{% url 'about' %}">About</a></li>

            </ul>
        </div>
    </div>
</header>




{% block content %}

{% endblock content %}
<!-- javascript -->

<script src="{% static 'scripts/libs/holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'scripts/libs/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'scripts/base.js' %}"></script>
{% block js %}
{% endblock js %}
</body>
</html>