{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/crime_home.css' %}">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'scripts/libs/jquery.min.js' %}"></script>


{% endblock head %}


{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1 class="margin-bottom heading">Crime Statistics in Victoria</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-lo-7 col-sm-offset-2">
            </div>
        </div>


        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 dashboard-col">

                <div class="row margin-bottom" id="dashboard-wrapper">

                    <h3 class="title">
                        Enter postcode OR suburb to look up number of offences recorded in Victoria,
                        from April 2015 to March 2016.
                    </h3>

                    <p class="leading" id="information-paragraph"></p>


                    <div id="information-wrapper">

                        <!-- Search Group -->
                        <div class="item search-wrap">
                            <input id="search-text" type="text" placeholder="postcode or suburb to search"/>

                            <button id="search" type="submit" class="button-item" title="Search">
                                <i class="fa fa-search"></i>
                            </button>

                            <button id="current-location" type="submit" class="button-item" title="Current Location">
                                <i class="fa fa-map-marker"></i>
                            </button>

                            <button id="reset" type="submit" class="button-item" title="Reset">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>

                        <!-- Information -->
                        <div class="item">
                            <p class="heading">Postcode: </p>
                            <p class="heading result" id="postcode-text">None</p>

                        </div>

                        <div class="item">
                            <p class="heading">Suburb: </p>
                            {#                            <textarea id="suburb-text" placeholder="e.g. Clayton" class="editable"></textarea>#}
                            <p id="suburb-text" class="heading result">None</p>
                        </div>

                        <div class="item">
                            <p class="heading">Offenses Recorded: </p>
                            <p id="crime-rate-text" class="heading result">None</p>
                        </div>


                        <div class="item">
                            <p class="heading">Victoria average: </p>
                            <p class="heading result">747</p>
                        </div>

                        <div class="item">
                            <p class="heading">Victoria total: </p>
                            <p class="heading result">519,130</p>
                        </div>


                    </div>
                    {#                    <div id="button-wrapper">#}
                    {#                        <button id="search" type="submit" class="item btn btn-info">Search</button>#}
                    {#                        <button id="current-location" type="submit" class="item btn btn-info">Near Me</button>#}
                    {#                        <button id="reset" type="submit" class="item btn btn-success">Reset</button>#}
                    {#                    </div>#}

                </div>

                <div class="row">
                    <div class="col-sm-12 modal-origin">

                        <div class="modal-body">
                            <div class="header"></div>
                            <p class="description"><i class="fa fa-lightbulb-o fa-lg"></i> Try
                                <a rel="noreferrer nofollow" target="_blank" href="{% url 'sms:sms_home' %}">Safety Switch</a>
                                to send alert messages to family.
                            </p>
                        </div>


                        <p class="attribution">
                            <a target="_blank" rel="noreferrer"
                               href="{% url 'about' %}">
                                &#9400; Attribution
                            </a>
                        </p>

                    </div>
                </div>




            </div>

            <!-- Data Container -->
            <div class="col-sm-5">
                <div id="data-container"></div>
            </div>
        </div>


    </div>

    {#    BEGIN of D3#}
    <script>
        function drawBubbleChart() {
            var data_container = $("#data-container");
            data_container.empty()

            var svg_diameter = data_container.width() * 1;

            // main program
            var margin = 20,
                    diameter = svg_diameter;

            var color = d3.scale.linear()
                    .domain([-1, 5])
                    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
                    .interpolate(d3.interpolateHcl);

            var pack = d3.layout.pack()
                    .padding(2)
                    .size([diameter - margin, diameter - margin])
                    .value(function (d) {
                        return d.size;
                    })

            var svg = d3.select("#data-container")
                    .append("svg")
                    .attr("width", diameter)
                    .attr("height", diameter)
                    .append("g")
                    .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

            d3.json("{% static 'data/crime_rate/crimedata_new_v2.json' %}", function (error, root) {
                if (error) throw error;

                var focus = root,
                        nodes = pack.nodes(root),
                        view;


                var circle = svg.selectAll("circle")
                        .data(nodes)
                        .enter().append("circle")
                        .attr("class", function (d) {
                            return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root";
                        })
                        .attr("id", function (d) {
                            return d.name;
                        })
                        .style("fill", function (d) {
                            return d.children ? color(d.depth) : null;
                        })

                        .on("click", function (d) {
                            if (focus !== d) zoom(d), d3.event.stopPropagation();
                        });


                var text = svg.selectAll("text")
                                .data(nodes)
                                .enter().append("text")
                                .attr("class", "label")
                                .style("fill-opacity", function (d) {
                                    return d.parent === root ? 1 : 0;
                                })
                                .style("display", function (d) {
                                    return d.parent === root ? "inline" : "none";
                                })
                                .style("fill-opacity", function (d) {
                                    {#                                    if (!d.children && d.parent === root) {#}
                                    {#                                        return 1;#}
                                    {##}
                                    {#                                    }#}
                                    {##}
                                    {#                                    return d.children ? 1 : 0;#}
                                    return d.parent === root ? 1 : 0;
                                })
                                .style("display", function (d) {
                                    {#                                    if (!d.children && d.parent === root) {#}
                                    {#                                        return "inline";#}
                                    {##}
                                    {#                                    }#}
                                    {##}
                                    {#                                    return d.children ? "inline" : "none";#}
                                    return d.parent === root ? "inline" : "none";
                                })
                                .text(function (d) {
                                    {#                                    var parent_text = d.name;#}
                                    {#                                    var child_text = d.suburb + ": " + Math.round(d.size * 100) / 100 + "%";#}
                                    {#                                    return d.children ? parent_text : child_text;#}
                                    if (d.children)
                                        return d.name;
                                })
                                .style("font-size", "16px")
                        {#                                .style("fill", function (d) {#}
                        {#                                    if (d.size < 0.05) return "green"#}
                        {#                                    else if (d.size >= 0.05 && d.size < 0.1) return "blue"#}
                        {#                                    else if (d.size >= 0.1) return "red"#}
                        {#                                })#}
                        {#                                .style("font-size", "11px")#}
                        ;

                // add content to circle


                text.each(function (d) {
                    var yoffset = 0;
                    var suburb_str = "" + d.suburb;
                    var text_element = d3.select(this);
                    if (suburb_str.indexOf(",") == -1) {
                        text_element.append("tspan")
                                .attr("dy", 0)
                                .attr("x", 0)
                                .style("font-size", "14px")
                                .text(function (d) {
                                    return d.suburb;
                                });
                        {#                                .style("fill-opacity", function (d) {#}
                        {#                                    return d.children ? 1 : 0;#}
                        {#                                })#}
                        {#                                .style("display", function (d) {#}
                        {#                                    return d.children ? "inline" : "none";#}
                        {#                                })#}

                    } else {
                        var suburb_array = suburb_str.split(",");
                        for (var i = 0; i < suburb_array.length && i < 3; i++) {
                            text_element.attr("y", "-30")
                            {#                                    .attr("transform", "translate(100)");#}
                            text_element.append("tspan")
                                    .attr("dy", "1.3em")
                                    .attr("x", 0)
                                    .attr("text-anchor", "middle")
                                    .style("font-size", "12px")
                                    .text(suburb_array[i]);
                        }
                    }
                });


                {#                text.append("tspan")#}
                {#                        .attr("dy", 0)#}
                {#                        .attr("x", 0)#}
                {#                        .style("font-size", "12px")#}
                {#                        .text(function (d) {#}
                {#                            return d.suburb;#}
                {#                        });#}

                text.append("tspan")
                        .attr("dy", "1.2em") // offest by 1.2 em
                        .attr("x", 0)
                        .style("font-size", "13px")

                        .text(function (d) {
                            return d.size ? d.size : null;
                        })
                        .style("fill", function (d) {
                            if (d.size < 100) return "green"
                            else if (d.size < 641) return "blue"
                            else if (d.size >= 641) return "red"
                        });


                /***********************************
                 * Transition
                 */
                var node = svg.selectAll("circle,text");

                d3.select("#data-container")
                        .style("background", color(-1))
                        .on("click", function () {
                            zoom(root);
                        });


                zoomTo([root.x, root.y, root.r * 2 + margin]);

                function zoom(d) {
                    var focus0 = focus;
                    focus = d;

                    var transition = d3.transition()
                            .duration(d3.event.altKey ? 7500 : 750)
                            .tween("zoom", function (d) {
                                var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
                                return function (t) {
                                    zoomTo(i(t));
                                };
                            });

                    transition.selectAll("text")
                            .filter(function (d) {
                                return d.parent === focus || this.style.display === "inline";
                            })

                            .style("fill-opacity", function (d) {
                                return d.parent === focus ? 1 : 0;
                            })
                            .each("start", function (d) {
                                if (d.parent === focus) this.style.display = "inline";
                            })
                            .each("end", function (d) {
                                if (d.parent !== focus) this.style.display = "none";
                            });
                }

                function zoomTo(v) {
                    var k = diameter / v[2];
                    view = v;
                    node.attr("transform", function (d) {
                        return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")";
                    });
                    circle.attr("r", function (d) {
                        return d.r * k;
                    })

                    ;
                }
            });

            d3.select(self.frameElement).style("height", diameter + "px");


        }

        $(drawBubbleChart())
        $(window).resize(drawBubbleChart)


    </script>
{% endblock content %}


{% block js %}
    <script src="{% static 'scripts/navbar-bg.js' %}"></script>
    <script src="{% static 'scripts/crime_home.js' %}"></script>
    {% include "crime_home_direct.html" %}

{% endblock js %}