{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/crime_home.css' %}">
    <script src="{% static 'scripts/libs/d3.v3.min.js' %}"></script>


{% endblock head %}


{% block content %}
    <div class="separator"></div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1 class="margin-bottom heading">Crime Statistics in Victoria</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-lo-7 col-sm-offset-2">
            </div>
        </div>


        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 dashboard-col">

                <div class="row margin-bottom" id="dashboard-wrapper">

                    <h3 class="title">
                        Enter postcode OR suburb to look up number of offences recorded in Victoria,
                        from April 2015 to March 2016.
                    </h3>

                    <p class="leading" id="information-paragraph"></p>


                    <div id="information-wrapper">

                        <!-- Search Group -->
                        <div class="item search-wrap">
                            <input id="search-text" type="text" placeholder="postcode or suburb to search"/>

                            <button id="search" type="submit" class="button-item" title="Search">
                                <i class="fa fa-search"></i>
                            </button>

                            <button id="current-location" type="submit" class="button-item" title="Current Location">
                                <i class="fa fa-map-marker"></i>
                            </button>

                            <button id="reset" type="submit" class="button-item" title="Reset">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>

                        <!-- Information -->
                        <div class="item">
                            <p class="heading">Postcode: </p>
                            <p class="heading result" id="postcode-text">None</p>

                        </div>

                        <div class="item">
                            <p class="heading">Suburb: </p>
                            {#                            <textarea id="suburb-text" placeholder="e.g. Clayton" class="editable"></textarea>#}
                            <p id="suburb-text" class="heading result">None</p>
                        </div>

                        <div class="item">
                            <p class="heading">Offenses Recorded: </p>
                            <p id="crime-rate-text" class="heading result">None</p>
                        </div>


                        <div class="item">
                            <p class="heading">Victoria average: </p>
                            <p class="heading result">747</p>
                        </div>

                        <div class="item">
                            <p class="heading">Victoria total: </p>
                            <p class="heading result">519,130</p>
                        </div>


                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 modal-origin">

                        <div class="modal-body">
                            <div class="header"></div>
                            <p class="description"><i class="fa fa-lightbulb-o fa-lg"></i> Try
                                <a rel="noreferrer nofollow" target="_blank" href="{% url 'sms:sms_home' %}">Safety Switch</a>
                                to send alert messages to family.
                            </p>
                        </div>


                        <p class="attribution">
                            <a target="_blank" rel="noreferrer"
                               href="{% url 'about' %}">
                                &#9400; Attribution
                            </a>
                        </p>

                    </div>
                </div>




            </div>

            <!-- Data Container -->
            <div class="col-sm-5">
                <div id="data-container"></div>
            </div>
        </div>


    </div>

    {#    BEGIN of D3#}

{% compress js %}
<script src='{% static "scripts/bubblechart.js" %}'></script>
{% endcompress %}




{% endblock content %}


{% block js %}
    <script src="{% static 'scripts/navbar-bg.js' %}"></script>
    <script src="{% static 'scripts/crime_home.js' %}"></script>
    {% include "crime_home_direct.html" %}

{% endblock js %}