{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/map_home.css' %}">
{% endblock head %}


{% block content %}
    <div class="flex">
        <div class="item col-1">
            Hello world!
        </div>
        <div class="item col-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore neque provident sed tempora ut voluptate. Dicta dolor ea enim error laudantium maiores mollitia quos. Cumque dolorem nulla quis vitae!
        </div>
    </div>





{% endblock content %}



{% block js %}
    <script src="{% static 'scripts/navbar-bg.js' %}"></script>
{% endblock js %}