{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/sms_home.css' %}">
    {{ form.media }}
    <script src="{% static 'scripts/js.cookie.js' %}"></script>

{% endblock head %}



{% block content %}
    <div class="overlay">
        <div class="notification">
            <div class="banner">Message</div>
            <div class="body">
                <div class="icon">

                    <i class="fa fa-envelope-o fa-2x"></i>

                </div>
                <div class="text">
                    {% if is_sent %}
                        {{ is_sent }}
                    {% elif is_error %}
                        {{ is_error }}
                    {% elif cancel_message %}
                        {{ cancel_message }}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="container-fluid">
        <div class="row shutdown">
            <div class="col-sm-6 col-sm-offset-3">
                <p>This function is currently shutdown due to expired subscription.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h1 class="text-center heading">Safety Switch</h1>

                <div class="description">
                    <div class="icon">
                        <i class="fa fa-lightbulb-o fa-3x"></i>
                    </div>
                    <div class="text">
                        Set up an alert SMS to your family at a scheduled time for <span class="blue">FREE</span>!
                    </div>
                </div>

                <div class="img-thinking">

                </div>
                <div class="instruction">
                    <div class="instruction-row row-1">
                        <div class="title">1</div>
                        <div class="content">Set up an alert SMS.</div>
                    </div>
                    <div class="instruction-row row-2">
                        <div class="title">2</div>
                        <div class="content">Get a message with cancellation code.</div>
                    </div>
                    <div class="instruction-row row-3">
                        <div class="title">3</div>
                        <div class="content">To cancel a message, replay SMS with cancellation code or
                        submit code in this page.</div>
                    </div>
                </div>


            </div>

            <div class="col-sm-4 col-form">

                <div class="div-form-selection">

                    <div class="button is-active" role="button" id="send_button"><i class="fa fa-send-o"></i>&nbsp;Send
                    </div>
                    <div class="button" role="button" id="cancel_button"><i class="fa fa-close"></i>&nbsp;Cancel</div>

                </div>


                <div id="sms_form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}


                        <input id="submit-btn" type="submit" value="Submit" class="btn btn-info"/>
                    </form>
                </div>

                <div id="cancel_form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ cancel_form | crispy }}


                        <input type="submit" value="Confirm" class="btn btn-info"/>
                    </form>
                </div>
            </div>
        </div>
    </div>



    {% include "sms_home_message.html" %}

{% endblock content %}



{% block js %}
    <script src="{% static 'scripts/navbar-bg.js' %}"></script>
    <script src="{% static 'scripts/sms_home.js' %}"></script>
{% endblock js %}