/*-------------------------
    General Settings
-------------------------*/
html, p, h1, h2, h3, a, ul, li {
    font-family: "Open Sans", Arial, sans-serif;
}

html, body{
    font-size: 100%;
}

.heading {
    font-family: Cabin, sans-serif;
}

h1 {
    margin: 5px 0;
}

h2 {
    margin: 0;
}

body {
    height: 100vh;
    /*height:auto;*/
    width: 100%;
    padding-bottom: 0;
    background-color: #F5F5F5;
    color: #444;
}

.some-padding {
    padding: 5px;
}

.text-bold {
    font-weight: bold;
}

.flex{
    display: flex;
}

/*-------------------
    Header
-------------------*/
.positioner {
    max-width: 80vw;
    margin: 0 auto;
}

.navbar {
    /*margin-bottom: 0;*/
    padding: 20px 0 30px;
}

.navbar a:hover, .navbar a:focus {
    text-decoration: none;
}

.navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar-box ul {
    text-align: center;
}

#logo {
    font-size: 31px;
    color: white;
}

#logo .safety {
    font-size: 40px;
    font-weight: bolder;
    color: deepskyblue;
}

.navbar-item ul.navbar-ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-item ul li {
    margin-left: 15px;
    color: transparent;
}

.navbar-item ul li a {
    font-size: 20px;
    /*color: #DDDDDD;*/
    color: rgba(255, 255, 255, .75);
    font-weight: bold;
    padding-bottom: 10px; /* for stylising border-bottom */
    border-bottom: 3px solid transparent;
    transition: color .5s, border-bottom-color .5s;
}

.navbar-item ul li a.active, .navbar-item ul li a:hover {

    color: dodgerblue;

    border-bottom-color: deepskyblue;
}

/*----------------------
        About Us
----------------------*/
.email {
    margin: 0 0 5px;
    font-size: 2rem;
}

/* side-heading */
.text-muted {
    font-size: 20px;
}

/* side-heading */
@media (min-width: 768px) {
    .text-muted {
        font-size: 30px;
    }
}

/*  Team name   */
.logo-heading {
    font-size: 45px;
    color: black;
}

hr.featurette-divider {
    margin: 10px 0;
    border-top: 1px solid #c5c5c5;
}

/*-----------------------
    Custom Class
------------------------*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#data-container {
    text-align: center
}

.no-padding {
    padding: 0;
}

.margin-5 {
    margin: 5px
}

.margin-0 {
    margin: 0;
}

.custom-button-wrapper {
    padding: 0 5px;
}

.custom-button {
    width: 100%;
    background: none;
    padding: 10px 10px;

    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    text-align: center;

    border: 2px solid #DDDDDD;
    border-radius: 30px;
    color: #DDDDDD;
    text-shadow: 1px 1px 1px #000000;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;

    margin-top: 10px;

}

.custom-banner {
    width: 100%;
    background: none;
    padding: 12px 12px;

    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    text-align: center;

    border: 2px solid #DDDDDD;
    border-radius: 10px;
    color: #DDDDDD;
    text-shadow: 1px 1px 1px #000000;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;

    margin-top: 10px;

}

.custom-button:hover, .custom-button:focus, .custom-button:active, .custom-button.active {
    /*color: #33a6cc;*/
    /*border-color: #33a6cc;*/

    border-color: white;
    /*transition*/
    color: #555555;
    background-color: white;
    text-shadow: none;
}

#search-text {
    width: 100%;
    height: 95%;
    background: #d5d5d5;
    padding: 13px;

    font-weight: 700;

    border: 2px solid white;
    border-radius: 1px;
    color: black;

    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;

    margin-top: 10px;
}

.margin-bottom {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}

/*-------------------------------
    Mobile Compatibility
--------------------------------*/
@media (min-width: 1400px) {
    .navbar {
        padding-top: 65px;
    }
}

@media (min-width: 1000px) {
    .navbar-item ul li {
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    /*.navbar {*/
    /*padding-top: 65px;*/
    /*}*/
    #description {
        /*padding-top: 10vh;*/
    }
}

@media (max-width: 1400px) {
    .navbar-box {

        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .positioner {
        max-width: 95vw;
    }

    #jumbotron {
        height: 13vh;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    #logo{
        font-size: 23px;
    }

    #logo .safety{
        font-size: 27px;
    }

    .navbar {
        margin-bottom: 0;
        padding: 0;
    }

    .navbar-box {

        align-items: center;
        flex-direction: column;
    }

    .navbar-item ul {
        padding: 0;
    }

    .navbar-box h3 {
        margin: 5px;
    }

    .navbar-item ul li a {
        font-size: 15px;
    }

}

@media (max-width: 768px) {

    #logo{
        font-size: 26px;
    }

    #logo .safety{
        font-size: 30px;
    }

    .navbar-item ul li {
        margin-left: 7px;
    }

    .navbar-item ul li a {
        font-size: 17px;
        border-bottom: none;
    }

}

/*------------------
    iPhone 6: 375px
    iPhone 5: 320px
------------------*/
@media (max-width: 410px) {
    /*iPhone 6*/
    #logo {
        font-size: 20px;
    }

    #logo .safety {
        font-size: 23px;
    }

    .navbar-item ul li a {
        font-size: 16px;
    }
}