body{
    background-color:#F5F5F5;
}

/*Override Carousel Control background*/
.carousel-control.left{
    background-image: none;
}

.carousel-control.right{
    background-image: none;
}

@media (min-width: 768px) {
    .btn-view {
        margin-top: 200px;
    }
}

.btn-line {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: initial;
}

/* avoid overlapping with navbar */
.add-padding {
    padding-top: 70px;
}

/*Override link color*/
a, a:active {
    color: deepskyblue;
}

/* deleting #myCarousel botton margin */
#myCarousel {
    margin-bottom: 10px;
}

/* index page h3 margin-top adjusting */
.h3-margin-top {
    margin-top: 5px;
}

/*make text larger*/
.text-lg {
    font-size: larger;
}

/* make image align center */
.img-circle {
    margin: 0 auto;
    display: block;
}
/*Override AboutUs side-heading*/
.text-muted {
        font-size: 20px;
    }

/*Override AboutUs side-heading*/
@media (min-width: 768px) {
    .text-muted {
        font-size: 30px;
    }
}

hr.featurette-divider{
    border-top: 1px solid #c5c5c5;
}

/*Override <p> margin*/
p{
    margin: 5px 5px;
}

/*text align center*/
.text-center
{
    text-align: center;
}

/*text align right*/
.text-right{
    text-align: right;
}
/*Team name in About page*/
.logo-heading {
    margin: 5px 5px;
    font-weight: 300;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    font-family: "Century Schoolbook L";
    color: black;
}

/*BEGIN of dropdown menu*/
/*.dropdown:hover .dropdown-menu {*/
   /*display: block;*/
    /*background: #fff;*/

/*}*/

/*.dropdown:hover .dropdown-menu li a{*/
   /*color: black;*/
/*}*/

/*.dropdown.open ul.dropdown-menu{*/
    /*background: transparent;*/
/*}*/


/*.dropdown-menu>li>a{*/
    /*color: #9d9d9d;*/
/*}*/
/*END of dropdown menu*/

/*BEGIN of DMS layout*/

.same-line-widget{
    width: 32.4%;
    display: inline-block;

}

.inline-div{
    width:49.3%;
    display: inline-block;
}

.area-code{
    width:30%;
    display:inline-block;
}

.phone-number{
    width:68%;
    display:inline-block;
}


/*END of DMS layout*/