body {
    background: #fff;
}

.navbar {
    margin: 0;
}

.positioner {
    /*max-width: 85vw;*/
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

/*-----------------------
        Main Content
-----------------------*/

.content .flex {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .flex > .col {
    max-width: 45vw;
    min-width: 333px;
}

.content .flex > .col > * {

}

/*-----------------------
        Panel
-----------------------*/
.panel{
    opacity: 0;
}



.panel-title {
    font-size: 24px;
}

.panel-body p {
    font-size: 18px;
}

@media (min-width: 1050px) {
    .content .flex > .col {
        max-width: 25vw;
        min-width: 333px;
    }
}

@media (max-width: 900px) {
    .content .flex {

        justify-content: center;

    }
}

@media (max-width: 400px) {
    .content .flex > .col {

        min-width: 300px;
    }
}


/*----------------------
    Animation
----------------------*/
.popup{

    animation: popup 250ms ease-out forwards;
}

@keyframes popup {
    0%{
        transform: scale(1.3);
        opacity: 0;
    }

    70%{
        transform: scale(0.9);
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }

}
