body {
    background: #fff;
}

.navbar {
    margin: 0;
}

.positioner {
    /*max-width: 85vw;*/
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

/*-----------------------
        Main Content
-----------------------*/

.content .flex {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .content .flex {
        justify-content: center;
    }
}

.content .flex .col {
    flex: 0 0 30%;
}

@media (max-width: 1300px) {
    .content .flex > .col {
        flex: 1 0 33%;
    }
}

@media (max-width: 768px) {
    .content .flex > .col {
        flex-basis: 90%
    }
}

/*@media (max-width: 320px) {*/
/*.content .flex > .col {*/
/*width: 300px;*/
/*}*/
/*}*/

/*-----------------------
        Panel
-----------------------*/
.panel {
    opacity: 0;
}

.panel-title {
    font-size: 24px;
}

.panel-body p {
    font-size: 18px;
}

/*----------------------
    Animation
----------------------*/
.popup {

    animation: popup 250ms ease-out forwards;
}

@keyframes popup {
    0% {
        transform: scale(1.3);
        opacity: 0;
    }

    70% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

/*-------------------
    PARALAX
-------------------*/
.background-block {
    font-size: 2rem;
    position: relative;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed;
    height: 60vh;
}

@media (max-width: 768px) {
    .background-block {
        height: 30vh;
    }
}

@media (max-width: 500px) {
    .background-block{
        background-attachment: scroll;
    }
}



.division-block {
    height: auto;
    padding: 2em 0;
    background: linear-gradient(#323232, #282828);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (max-width: 768px) {
    .division-block {
        height: auto;
        padding: 10px 0;
    }
}

.text-container {
    display: flex;
    flex-direction: row;
    width: 70%;
}

@media (max-width: 768px) {
    .text-container {
        width: 95%;
    }
}

.text-container .text-block {
    flex: 1 1 50%;
}

.text-container .block-1 {
    text-align: right;
    font-size: 2em;
    padding-right: 1em;
}

.text-container .block-2 {
    padding-top: .5em;

}

@media (max-width: 1100px) {
    .text-container .block-1 {
        font-size: 1.5em;
    }

    .text-container .block-2 {
        font-size: .8em;
    }
}

@media (max-width: 768px) {
    .text-container .block-1 {
        font-size: 1em;
    }

    .text-container .block-2 {
        font-size: .6em;
    }
}

.background-block.block-1 {
    background-image: url("../images/safety_info_home/typewriter-801921_1920.jpg");
}

.side-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -190%);
    margin-bottom: 0;
    font-size: .8em;
    text-align: center;
}

@media (max-width: 768px) {
    .side-heading {

        transform: translate(-50%, -75px);

        font-size: .5em;

    }
}

.heading {
    width: 500px;
    height: 90px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    margin-top: -45px;
    margin-left: -250px;
    transition: all 300ms ease-out;

    /*margin: 0;*/
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 1px 1px 3px 3px white;
}

@media (max-width: 768px) {
    .heading {
        width: 320px;
        height: 90px;

        margin-top: -25px;
        margin-left: -160px;

        /*margin: 0;*/
        font-size: 1em;
        color: black;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 1px 1px 3px 3px white;
    }
}

.scroll-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .6;
    color: white;
    font-size: .7em;
    text-shadow: 1px 1px 1px black;
}

.background-block.block-2 {
    background-image: url("../images/safety_info_home/get-me-out-1605906_1920.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.background-block.block-2 .text-container {
    /*width: 70%;*/
    color: white;
}

.background-block.block-2 .text-container p {
    text-shadow: 2px 2px 3px black;
    margin: 0;
}

@media (max-width: 500px) {
    .background-block.block-2 .text-container p {
        font-size: .7em;
    }
}

.background-block.block-2 .text-container p a {
    text-shadow: 1px 1px 5px deepskyblue;
}

.background-block.block-2 .img-block {
    position: absolute;
    top: 110%;
    left: 35%;
    background-size: contain;
    background-image: url("../images/safety_info_home/phone-1439839_640.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;

    border-radius: 50%;
}

@media (max-width: 1100px) {
    .background-block.block-2 .img-block {

        width: 150px;
        height: 150px;
        margin-left: -75px;
        margin-top: -75px;
    }
}

@media (max-width: 460px) {
    .background-block.block-2 .img-block {

        width: 80px;
        height: 80px;
        margin-left: -70px;
        margin-top: -40px;
    }
}

/* background block-3 */
.background-block.block-3 {
    background-image: url("../images/safety_info_home/bus-1263266_1920.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.background-block.block-3 .text-container {
    color: white;
}

.background-block.block-3 .text-container p {
    margin: 0;
}

.background-block.block-3 .text-container a {
    color: dodgerblue;
    text-shadow: 1px 1px 1px black;
}

.background-block.block-3 .img-block {
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    background-size: contain;
    background-image: url("../images/safety_info_home/ptv_home.png");
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 20px 50px 0px black;
    transition: all 300ms ease-out;

    width: 280px;
    height: 210px;
    margin-left: -280px;
    margin-top: -105px;

    opacity: 0;
}

@media (max-width: 1100px) {
    .background-block.block-3 .img-block {

        width: 160px;
        height: 120px;
        margin-left: -100px;
        margin-top: -60px;
    }
}

@media (max-width: 460px) {
    .background-block.block-3 .img-block {

        width: 80px;
        height: 60px;
        margin-left: -80px;
        margin-top: -30px;
    }
}

.background-block.block-3 .img-block.is-showing {
    animation: slide-in 800ms ease-out forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-80%);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

/* background block-4 */
.background-block.block-4 {
    background-image: url("../images/safety_info_home/cat-1551783_1920.jpg");
    background-position: top center;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.background-block.block-4 .img-block {
    display: block;
    position: absolute;
    top: 110%;
    left: 25%;
    background-size: contain;
    background-image: url("../images/safety_info_home/heart-1480779_640.png");
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 300ms linear;

    width: 290px;
    height: 320px;
    margin-left: -310px;
    margin-top: -160px;
}

@media (max-width: 1000px) {
    .background-block.block-4 .img-block {
        width: 200px;
        height: 150px;
        margin-left: -100px;
        margin-top: -75px;
    }
}

@media (max-width: 500px) {
    .background-block.block-4 .img-block {
        width: 96px;
        height: 72px;
        margin-left: -76px;
        margin-top: -36px;
    }
}

.background-block.block-4 .text-container a {
    color: green;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    text-align: right;
}

.background-block.block-5 {
    background-image: url("../images/safety_info_home/melbourne-1238234_1920.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.background-block.block-5 .text-container a {
    color: dodgerblue;
    text-decoration: underline;
    text-align: right;
    text-shadow: 1px 1px 1px black;
}

.background-block.block-5 .text-container a:hover {
    color: darkblue;
}

.background-block.block-5 .img-block {
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    background-size: contain;
    background-image: url("../images/safety_info_home/travellers.png");
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0 20px 50px 0px black;
    transition: all 300ms ease-out;

    width: 360px;
    height: 270px;
    margin-left: -360px;
    margin-top: -135px;
}

@media (max-width: 1100px) {
    .background-block.block-5 .img-block {
        width: 160px;
        height: 120px;
        margin-left: -100px;
        margin-top: -60px;
    }
}

@media (max-width: 500px) {
    .background-block.block-5 .img-block {
        width: 120px;
        height: 90px;
        margin-left: -100px;
        margin-top: -45px;
    }
}


