/*------------------------
    Custome Class
------------------------*/
.text-18px{
    font-size: 18px;
}

ul.description-list li{
    margin-bottom: 10px;
}

.error{
    color: lightcoral;
}

.message{
    color: #00980d;
    display: none;
}

.correct{
    color: #00b80d;
}

.text-lg{
    font-size:17px;
    margin: 0;
    padding: 5px 0;
}


/*----------------------------
    Form Display
----------------------------*/
.flex{
    display:flex;
}

.flex-1{
    flex:1;
}


.div-form-selection{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.div-form-selection .item button{
    width: 160px;
    margin: 5px 0;

}

