.navbar{
    margin: 0;
}

.navbar {
    margin-bottom: 0;
}

.heading {
    padding: .7em 0;
    text-align: center;
    background: white;
    font-size: 2.5em;
    margin: 0 0 20px;
    font-family: arial, "Open Sans", sans-serif;
}

@media (max-width: 1100px) {
    .heading {
        font-size: 2em;
    }
}


@media (max-width: 768px) {
    .heading {
        font-size: 1.5em;
        padding: .4em 0;
    }
}

.positioner {
    max-width: 60vw;
}

@media (max-width: 1200px) {
    .positioner {
        max-width: 82vw;
    }
}

@media (max-width: 880px) {
    .positioner {
        max-width: 95vw;
    }
}

.lead {
    margin-bottom: 20px;
}

.heading-medium {
    font-size: 1.7em;
    margin-bottom: 15px;
}