/*-------------------------
    General Settings
-------------------------*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Ropa Sans";
    src: url("../fonts/Ropa_Sans/RopaSans-Regular.ttf");
}

* {
    font-family: "Open Sans", Roboto, Arial, sans-serif;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
}

h1 {
    margin: 5px 0;
}

h2 {
    margin: 0;
}

body {
    /*height: 100vh;*/
    /*height:auto;*/
    min-height: 100vh;
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    padding-bottom: 0;
    background-color: #F5F5F5;
    color: #444;
}

/*make some space between navbar and content body*/
.separator{
    margin: 1em 0;
}

.some-padding {
    padding: 5px;
}

.text-bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

button {
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

/*-------------------
    Header
-------------------*/
.positioner {
    max-width: 80vw;
    margin: 0 auto;
}

#logo {
    font-size: 31px;
    color: white;
}

#logo .safety {
    font-weight: bolder;
    color: deepskyblue;
}

@media(max-width: 768px){
    #logo {
        font-size: 24px;
    }
}

.navbar {
    margin-bottom: 0;
    padding: 20px 0 30px;
    border-radius: 0;
}

.navbar a:hover, .navbar a:focus {
    text-decoration: none;
}

.navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .5em 0;
}

@media(max-width: 540px){
        .navbar-box {
        padding: 0;
    }
}

.navbar-box ul {
    text-align: center;
}



.navbar-item ul.navbar-ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-item ul li {
    font-size: 1em;
    list-style: none;
    padding: 0;
    margin: 0 0 0 2em;
}


.navbar-item ul li a {
    color: rgba(255, 255, 255, .75);
    font-weight: bold;
}


.navbar-item ul li a.active, .navbar-item ul li a:hover {
    color: dodgerblue;
}

@media(max-width: 768px){
    .navbar-item ul li{
        font-size: .7em;
        margin: 0 0 0 1em;
    }
}

/*----------------------
    Header - Dropdown
----------------------*/
.navbar-ul > li {
    position: relative;
}

ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
    list-style: none;
}

ul.drop-menu li {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    font-size: 1em;
    text-align: center;
}


ul.drop-menu li {
    display: none;
}

li:hover > ul.drop-menu li, a:active ~ ul.drop-menu li, a:focus ~ ul.drop-menu li {
    display: block;
    animation: list-in 500ms ease-in-out forwards;
    opacity: 0;
}

li:hover > ul.drop-menu li:last-child {
    animation-delay: 250ms;
}

/*----------------------
        About Us
----------------------*/
.email {
    margin: 0 0 5px;
    font-size: 1em;
}

/* side-heading */
.text-muted {
    font-size: 20px;
}

/* side-heading */
@media (min-width: 768px) {
    .text-muted {
        font-size: 30px;
    }
}

/*  Team name   */
.logo-heading {
    font-size: 45px;
    color: black;
}

hr.featurette-divider {
    margin: 10px 0;
    border-top: 1px solid #c5c5c5;
}

/*-----------------------
    Custom Class
------------------------*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#data-container {
    text-align: center
}

.no-padding {
    padding: 0;
}

.margin-5 {
    margin: 5px
}

.margin-0 {
    margin: 0;
}

.custom-button-wrapper {
    padding: 0 5px;
}

.custom-button {
    width: 100%;
    background: none;
    padding: 10px 10px;

    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    text-align: center;

    border: 2px solid #DDDDDD;
    border-radius: 30px;
    color: #DDDDDD;
    text-shadow: 1px 1px 1px #000000;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;

    margin-top: 10px;

}

.custom-banner {
    width: 100%;
    background: none;
    padding: 12px 12px;

    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    text-align: center;

    border: 2px solid #DDDDDD;
    border-radius: 10px;
    color: #DDDDDD;
    text-shadow: 1px 1px 1px #000000;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;

    margin-top: 10px;

}

.custom-button:hover, .custom-button:focus, .custom-button:active, .custom-button.active {

    border-color: white;
    color: #555555;
    background-color: white;
    text-shadow: none;
}

.margin-bottom {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}

