.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}

#data-container {
    /*background: #eee;*/
}

/*END of d3*/

/*Selected-area-block*/
@media (min-width: 1268px) {
    #selected-area-block {
        min-height: 150px;
        padding-top: 15%;
    }
}

.lead {
    margin: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}

#average {
    /*text-shadow: 1px 1px 1px black;*/
}

#lowest {
    color: #5cb85c;
    /*text-shadow: 1px 1px 1px white;*/
}

#highest {
    color: lightcoral;
    /*text-shadow: 1px 1px 1px white;*/
}

body {
    /*background-color: #122b40;*/
    background: #eee;
    /*color:black;*/
}

.main-text {
    font-size: 18px;
    line-height: 1.4;
}

.stress {
    font-weight: bolder;
}

/*-------------------------
    Dashboard
--------------------------*/
#dashboard-wrapper {

    /*padding:15px;*/
    /*border: 2px solid black;*/
    border-radius: 5px;

}

#dashboard-wrapper .title {
    margin-top: 0;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    #dashboard-wrapper .title {
        font-size: 20px;
        line-height: 1.1;
    }
}

#dashboard-wrapper .or {
    color: dodgerblue;

}

.dashboard-description {
    font-size: 18px;
}

#information-paragraph {
    color: goldenrod;
    font-size: 20px;
    display: none;
}

/* Search Wrap */
#information-wrapper .item.search-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

@media (max-width: 1200px) {
    #information-wrapper .item.search-wrap {
        margin: 5px 0;
    }
}

#search-text {
    min-width: 0;
    flex: 0 1 50%;
    padding: 10px 5% 10px;
    border-radius: 10px 0 0 10px;
    outline: none;
    border: none;
}

@media (max-width: 600px) {
    #search-text {
        flex-grow: 1;
    }
}

.button-item {
    flex: 0 0 10%;
}

.button-item:hover {
    background: grey;
    color: white;
}

.button-item:last-child {
    border-radius: 0 10px 10px 0;
}

#search-text {
    background: white;
    text-shadow: none;

}

/*---------------------------------
        information-wrapper
----------------------------------*/
#information-wrapper {
    display: flex;
    flex-direction: column;
    /*max-width: 350px;*/
}

#information-wrapper .item {
    display: flex;
    /*flex-wrap: wrap;*/
    margin: 5px 0;

}

.item .heading {
    flex: 1 0 33.3%;

}

.item .heading.result {
    text-align: center;
    flex: 2 0 66.6%;
    min-width: 0;
    word-wrap: break-word;
    white-space: pre-line;
    /*-ms-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
}

#information-wrapper textarea {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    min-height: 68px;
    /*max-width: 184px;*/
}

#selected-area-block-wrapper {
    clear: left;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 15px;
}

#comment {
    display: none;
}

.attribution {
    text-align: right;
    font-size: 18px;
    margin-right: 10%;
}

/*------------------
    Animation
------------------*/
.modal-origin {
    position: relative;
    /*perspective: 1000px;*/
}

.header {
    height: 30px;
    background: deepskyblue;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    position: absolute;
    left: 10%;
    top: 0px;
    padding: 0;
    /*height: 150px;*/
    width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px -10px black;
    transform-origin: left bottom;
    display: none;
}

.is-showing {
    display: block;
}

.modal-body .description {
    padding: 10px 15px 15px;
}

.description .fa {
    color: orange;
}

.animate-in {
    animation: in 1000ms ease-in-out forwards;
}

@Keyframes in {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}