{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}

{% block content %}


    <div class="container">

        <div class="row">
            <div class="col-sm-12 ">
                <h1 class="logo-heading heading">Night-Shift Worker Safety</h1>
                <hr class="featurette-divider">
            </div>
        </div>

        <!-- START THE FEATURETTES -->

        <div class="row">
            <div class="col-sm-9">
                <p class="lead">
                    Safety for night shift workers is a growing concern in Melbourne, and with the current trend in
                    crime rates
                    going up, these night shift workers are at a greater risk.
                    <br/><br/>
                    In this age of technology, there is very little data on areas of concern such as crime rate in
                    different
                    locations and emergency alerts if in danger.
                    <br/><br/>
                    Our site www.safeatnight.cf addresses the above mentioned issues, specifically aimed at
                    night shift
                    workers to utilise in making their lives more secure, as outline below.

                    <br/><br/>
                    The specific areas of concern focuses on the crime statistics by area.

                    <br/><br/>

                    Finally a safety switch functionality is available for users to use in order to send out alerts to
                    the
                    preferred point of contact.

                    <br/><br/>
                    The aim of this website is to deliver these services for night shift workers to use and take a
                    proactive
                    approach in making themselves feel more safe and secure.
                </p>

                <h2>Attribution</h2>
                <p>Crime statistics data is from <a target="_blank" rel="noreferrer"
                                                    href="https://www.crimestatistics.vic.gov.au/crime-statistics/latest-crime-data/recorded-offences">Crime
                    Statistics
                    Agency Victoria</a> under Creative Commons Attributon 4.0</p>
            </div>


        </div>


        <!-- /END THE FEATURETTES -->


    </div>



{% endblock content %}



{% block js %}
    <script src="{% static 'scripts/navbar-bg.js' %}"></script>
{% endblock js %}