{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <title>{{ title }} - NightShift Worker Safety</title>
    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap-theme.min.css' %}">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/libs/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {#    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">#}

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/libs/font-awesome.min.css' %}" rel="stylesheet">
    <!-- javascript -->
    <script src="{% static 'scripts/libs/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/libs/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Open+Sans" rel="stylesheet">

    {% block head %}
    {% endblock head %}
</head>
<body>
<header class="navbar">
    <div class="navbar-box positioner">
        <div class="navbar-item">
            <a href="{% url 'index' %}"><h3 id="logo">Night-Shift Worker <span class="safety">Safety</span></h3></a>
        </div>
        <div class="navbar-item">
            <ul class="navbar-ul">
                <li><a id="home-a" href="{% url 'index' %}">Home</a></li>
                <li><a id="sms-a" href="{% url 'sms:sms_home' %}">Safety Switch</a></li>
                <li><a id="cs-a" href="{% url 'crime:crime_home' %}">Crime Stats</a></li>
                <li><a id="info-a" href="{% url 'safety_info:safety_info_home' %}">Safety Tips</a></li>
                <li><a id="us-a" href="{% url 'about_us' %}">Our Team</a></li>
                <li><a id="about-a" href="{% url 'about_safeatnight' %}">About</a></li>

            </ul>
        </div>
    </div>
</header>


{#<div class="navbar-wrapper">#}
{#    <div class="container-fluid">#}
{#        <nav class="navbar navbar-inverse navbar-static-top">#}
{#            <div class="container">#}
{#                <div class="navbar-header">#}
{#                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#                        <span class="sr-only">Toggle navigation</span>#}
{#                        <span class="icon-bar"></span>#}
{#                        <span class="icon-bar"></span>#}
{#                        <span class="icon-bar"></span>#}
{#                    </button>#}
{#                    <a class="navbar-brand" href=""><h3>Night-Shift Worker <span class="safety">Safety</span></h3></a>#}
{#                </div>#}
{#                <div id="navbar" class="navbar-collapse collapse">#}
{#                    <ul class="nav navbar-nav">#}
{#                        <li class="active" id="home-li"><a href="{% url 'index' %}"><i class="fa fa-home fa-lg"#}
{#                                                                                       aria-hidden="true"></i>&nbsp;Home</a>#}
{#                        </li>#}
{#                        <li id="cs-li"><a href="{% url 'crime:crime_home' %}"><i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i>&nbsp;Crime#}
{#                            Stats</a></li>#}
{#                        <li id="map-li"><a href="{% url 'map:map_home' %}"><i class="fa fa-cab fa-lg" aria-hidden="true"></i>&nbsp;Police Station</a></li>#}
{#                        <li id="sms-li">#}
{#                            <a href="{% url 'sms:sms_home' %}"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>&nbsp;Safety#}
{#                                Switch</a>#}
{#                        </li>#}
{##}
{#                        <li class="dropdown" id="about-li">#}
{#                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                               aria-haspopup="true" aria-expanded="false"><i class="fa fa-info-circle fa-lg"#}
{#                                                                             aria-hidden="true"></i> About<span#}
{#                                    class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="{% url 'about_safeatnight' %}">safe@night</a></li>#}
{#                                <li><a href="{% url 'about_us' %}">Us</a></li>#}
{#                                <li><a href="#">Something else here</a></li>#}
{#                                <li role="separator" class="divider"></li>#}
{#                                <li class="dropdown-header">Nav header</li>#}
{#                                <li><a href="#">Separated link</a></li>#}
{#                                <li><a href="#">One more separated link</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </nav>#}
{#    </div>#}
{#</div>#}



{% block content %}

{% endblock content %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'scripts/libs/jquery.min.js' %}"></script>
<script src="{% static 'scripts/libs/bootstrap.min.js' %}"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->


<script src="{% static 'scripts/libs/holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'scripts/libs/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'scripts/base.js' %}"></script>
{% block js %}
{% endblock js %}
</body>
</html>