{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">

    <title>{{ title }} - Night-Shift Worker Safety</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    {% block head %}
    {% endblock head %}


</head>
<body>
<div class="masthead clearfix">
    <div class="inner">
        <a href="#"><h3 class="masthead-brand">Night-Shift Worker <span class="safety">Safety</span></h3></a>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="{% url 'sms:sms_home' %}">Safety Switch</a></li>
                <li><a href="{% url 'crime:crime_home' %}">Crime Stats</a></li>
                <li><a href="{% url 'about_safeatnight' %}">About</a></li>
                <li><a href="{% url 'about_us' %}">Us</a></li>
            </ul>
        </nav>
    </div>
</div>

{% block content %}

    <div class="site-wrapper">

        <div class="table-row">
            <div class="caption">
                <div class="cover-container">
                    <span id="project-description">Provide <span class="safety-service">safety service</span> to
                    people working at <span id="night">Night.</span></span>
                </div>
            </div>
        </div>
        <div class="table-row">
            <div style="display:table-cell; height: 10%;"></div>
        </div>
        <div class="table-row">
            <div class="site-wrapper-inner">

                <div class="cover-container">
                    {#                Default masthead position#}


                    <div class="inner cover">
                        <div class="row">
                            <div class="col-lg-5 introduction">
                                <h1><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> Safety <span>Switch</span>
                                </h1>
                                <p class="lead">Send <span>text message</span> at a set time.</p>
                                <p class="lead">
                                    <a href="{% url 'sms:sms_home' %}"
                                       class="btn btn-lg btn-default width-group index-btn">Set Up</a>
                                </p>
                            </div>

                            <div class="col-lg-5 col-lg-offset-2 introduction">
                                <h1><i class="fa fa-bar-chart" aria-hidden="true"></i> Crime <span>Stats</span></h1>
                                <p class="lead">

                                    Look up area <span>crime rate</span> by suburb.
                                </p>
                                <p class="lead">
                                    <a href="{% url 'crime:crime_home' %}"
                                       class="btn btn-lg btn-default width-group index-btn">View</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>2016 <a href="#">Night-Shift Worker Safety</a>, by <a
                                    href="{% url 'about_us' %}">Spiderweb</a>.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

{% endblock content %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'scripts/jquery.min.js' %}"><\/script>')</script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'scripts/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'scripts/base.js' %}"></script>

{% block js %}
    <script src="{% static 'scripts/jquery.bgswitcher.js' %}"></script>
    <script>
    $(".site-wrapper").bgswitcher({
        images: ["{% static 'images/index_bg/crime_home_2.jpg' %}","{% static 'images/index_bg/moon-65957.jpg' %}"],
        effect: "fade",
        interval: 7000
});

    </script>
{% endblock js %}

</body>
</html>