{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images_raw/shield_icon.png' %}">
    <title>{{ title }} - safe@night</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/button-override-base.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>
<body>

<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">safe@night</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" id="home-li"><a href="{% url 'index' %}"><i class="fa fa-home fa-lg"
                                                                                       aria-hidden="true"></i>&nbsp;Home</a>
                        </li>
                        <li id="cs-li"><a href="{% url 'crime:crime_home' %}"><i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i>&nbsp;Crime
                            Stats</a></li>
                        {#                        <li id="map-li"><a href="{% url 'map:map_home' %}"><i class="fa fa-cab fa-lg" aria-hidden="true"></i>&nbsp;Police Station</a></li>#}
                        <li id="sms-li">
                            <a href="{% url 'sms:sms_home' %}"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>&nbsp;Safety
                                Switch</a>
                        </li>

                        <li class="dropdown" id="about-li">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="fa fa-info-circle fa-lg"
                                                                             aria-hidden="true"></i> About<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'about_safeatnight' %}">safe@night</a></li>
                                <li><a href="{% url 'about_us' %}">Us</a></li>
                                {#                                <li><a href="#">Something else here</a></li>#}
                                {#                                <li role="separator" class="divider"></li>#}
                                {#                                <li class="dropdown-header">Nav header</li>#}
                                {#                                <li><a href="#">Separated link</a></li>#}
                                {#                                <li><a href="#">One more separated link</a></li>#}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

{% block content %}

{% endblock content %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'scripts/ie10-viewport-bug-workaround.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/carousel-full-slider.js' %}"></script>
<script src="{% static 'scripts/base.js' %}"></script>
{% block js %}
{% endblock js %}
</body>
</html>