{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/crime_home.css' %}">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'scripts/jquery.min.js' %}"></script>


{% endblock head %}


{% block content %}
    <div class="container-fluid">
        <div class="add-padding"></div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 style="color:white" class="margin-bottom">Crime Statistics Victoria</h1>
            </div>


        </div>

        <div class="row some-padding">
            <div class="col-lg-3 col-lg-offset-2">

                <div class="row margin-bottom" style="background-color:#122b40; " id="dashboard-wrapper">

                    <h1 class="margin-5">Dashboard</h1>
                    <p class="text-lg">Hit the button or enter postcode/suburb name of interest to get the crime
                        rate.
                    </p>

                    <div class="row">
                        <div class="col-lg-6 custom-button-wrapper">
                            <div id="current-location-2" class="custom-button" role="button">Near Me</div>
                        </div>
                        <div class="col-lg-6 custom-button-wrapper">
                            <div id="reset-2" class="custom-button" role="button">Reset</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 custom-button-wrapper">
                            <input type="text" id="search-text" placeholder='e.g. "clayton", "3163"'>
                        </div>
                        <div class="col-lg-6 custom-button-wrapper">
                            <div id="search-2" class="custom-button" role="button">Search</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12" style="padding: 0px 5px;">
                            <div class="custom-banner" id="comment"></div>
                        </div>
                    </div>

                    <div id="selected-area-block-wrapper">

                        <div id="selected-area-block" class="text-center">
                            <h3 class="margin-0">Area:
                                <sapn id="selected-area-text">none</sapn>
                            </h3>
                            <h3 class="margin-0">Crime Rate:
                                <span id="crime-rate-text">none</span>
                            </h3>
                            {#                            <p class="leading" id="comment">lkjlj</p>#}
                        </div>
                        <div id="status-block">
                            <p class="leading" style="font-size: 13px"><span id="average">Vic. average: 1.96%</span>
                                <span id="lowest">Lowest: 0.011%; </span>
                                <span id="highest">Highest: 3.911%</span>
                            </p>

                        </div>
                    </div>
                </div>
                {#                <div class="row margin-bottom">#}
                {#                    <div class="col-lg-6 no-padding">#}
                {#                        <button class="btn btn-info crime-btn-group" id="current-location">Current Location</button>#}
                {#                    </div>#}
                {#                    <div class="col-lg-5 no-padding col-lg-push-2">#}
                {#                        <button class="btn btn-info crime-btn-group" id="reset">Reset</button>#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="row margin-bottom">#}
                {#                    <div class="col-lg-12 no-padding">#}
                {#                        <div class="input-group">#}
                {#                            <span class="input-group-btn">#}
                {#                                <button class="btn btn-info crime-btn-group" type="button"#}
                {#                                        id="search">Search</button>#}
                {#                            </span>#}
                {#                            <input type="text" placeholder="postcode or area name"#}
                {#                                   class="form-control" id="search-text">#}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}


            </div>
            <div class="col-lg-5">
                <div id="data-container"></div>
            </div>
        </div>


    </div>

    {#    BEGIN of D3#}
    <script>
        function drawBubbleChart() {
            $("#data-container").empty()

            var svg_diameter = $("#data-container").width() * 1;

            // main program
            var margin = 20,
                    diameter = svg_diameter;

            var color = d3.scale.linear()
                    .domain([-1, 5])
                    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
                    .interpolate(d3.interpolateHcl);

            var pack = d3.layout.pack()
                    .padding(2)
                    .size([diameter - margin, diameter - margin])
                    .value(function (d) {
                        return d.size;
                    })

            var svg = d3.select("#data-container")
                    .append("svg")
                    .attr("width", diameter)
                    .attr("height", diameter)
                    .append("g")
                    .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

            d3.json("{% static 'data/crime_rate/crime_rate_1.json' %}", function (error, root) {
                if (error) throw error;

                var focus = root,
                        nodes = pack.nodes(root),
                        view;


                var circle = svg.selectAll("circle")
                        .data(nodes)
                        .enter().append("circle")
                        .attr("class", function (d) {
                            return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root";
                        })
                        .attr("id", function (d) {
                            return d.name;
                        })
                        .style("fill", function (d) {
                            return d.children ? color(d.depth) : null;
                        })
                        .on("click", function (d) {
                            if (focus !== d) zoom(d), d3.event.stopPropagation();
                        });


                var text = svg.selectAll("text")
                                .data(nodes)
                                .enter().append("text")
                                .attr("class", "label")
                                .style("fill-opacity", function (d) {
                                    return d.parent === root ? 1 : 0;
                                })
                                .style("display", function (d) {
                                    return d.parent === root ? "inline" : "none";
                                })
{#                                .style("fill-opacity", function (d) {#}
{##}
{#                                    return d.children  ? 1 : 0;#}
{#                                })#}
{#                                .style("display", function (d) {#}
{#                                    #}
{#                                    return d.children ? "inline" : "none";#}
{#                                })#}
                                .text(function (d) {
                                    var parent_text = d.name;
                                    var child_text = d.suburb + ": " + Math.round(d.size * 100) / 100 + "%";
                                    return d.children ? parent_text : child_text;
                                })
                                .style("fill", function (d) {
                                    if (d.size < 0.05) return "green"
                                    else if (d.size >= 0.05 && d.size < 0.1) return "blue"
                                    else if (d.size >= 0.1) return "red"
                                })
                                .style("font-size", "11px")
                        ;

                // add content to circle
                {#                text.append("tspan")#}
                {#                        .attr("dy", 0)#}
                {#                        .attr("x", 0)#}
                {#                        .style("font-size", "16px")#}
                {#                        .text(function (d) {#}
                {#                            return d.name;#}
                {#                        });#}
                {##}
                {#                text.append("tspan")#}
                {#                        .attr("dy", "1.2em") // offest by 1.2 em#}
                {#                        .attr("x", 0)#}
                {#                        .style("font-size", "15px")#}
                {##}
                {#                        .text(function (d) {#}
                {#                            return d.size ? Math.round(d.size * 1000) / 1000 : null;#}
                {#                        })#}
                {#                        .style("fill", function (d) {#}
                {#                            if (d.size < 0.05) return "green"#}
                {#                            else if (d.size >= 0.05 && d.size < 0.1) return "blue"#}
                {#                            else if (d.size >= 0.1) return "red"#}
                {#                        });#}

                var node = svg.selectAll("circle,text");

                d3.select("#data-container")
                // .style("background", color(-1))
                        .on("click", function () {
                            zoom(root);
                        });
                d3.select("#data-container").style("background", color(-1));

                zoomTo([root.x, root.y, root.r * 2 + margin]);

                function zoom(d) {
                    var focus0 = focus;
                    focus = d;

                    var transition = d3.transition()
                            .duration(d3.event.altKey ? 7500 : 750)
                            .tween("zoom", function (d) {
                                var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
                                return function (t) {
                                    zoomTo(i(t));
                                };
                            });

                    transition.selectAll("text")
                            .filter(function (d) {
                                return d.parent === focus || this.style.display === "inline";
                            })

                            .style("fill-opacity", function (d) {
                                return d.parent === focus ? 1 : 0;
                            })
                            .each("start", function (d) {
                                if (d.parent === focus) this.style.display = "inline";
                            })
                            .each("end", function (d) {
                                if (d.parent !== focus) this.style.display = "none";  // should be "none"
                            });
                }

                function zoomTo(v) {
                    var k = diameter / v[2];
                    view = v;
                    node.attr("transform", function (d) {
                        return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")";
                    });
                    circle.attr("r", function (d) {
                        return d.r * k;
                    });
                }
            });

            d3.select(self.frameElement).style("height", diameter + "px");


        }

        $(drawBubbleChart())
        {#        $(window).resize(drawBubbleChart)#}


    </script>
{% endblock content %}


{% block js %}
    <script src="{% static 'scripts/navbar-bg.js' %}"></script>
    <script src="{% static 'scripts/crime_home.js' %}"></script>


{% endblock js %}