{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <link href="{% static 'css/index_2.css' %}" rel="stylesheet">

{% endblock head %}
{% block content %}
    {#    <div id="jumbotron" class="positioner">#}
    {#        <h1>The <span id="/*safety-service*/">safety service</span> for <span class="stress">Night-Shift Workers.</span>#}
    {#        </h1>#}
    {#    </div>#}

    <div class="purpose positioner">
        <h2 class="purpose-text">
            The safety information and alerter system for night-shift workers
        </h2>
    </div>

    <div id="question" class="positioner">
    <p class="start"><i class="fa fa-angle-double-down"></i>&nbsp;Start here</p>
    <form class="search-wrap" method="GET" action="{% url 'crime:crime_home' %}">
        {% csrf_token %}
        <input type="text" name="area" class="search-text" placeholder="postcode or suburb to look up crime rate">
        <input type="submit" class="search-button" value="&#xf002;">
{#        <button class="search-button">#}

{#        </button>#}
    </form>

{#        <div class="modal-wrap">#}
{#            <div class="modal-header">#}
{#                <span class="is-active"></span>#}
{#                <span></span>#}
{#                <span></span>#}
{#                <span></span>#}
{#            </div>#}
{##}
{#            <div class="modal-bodies">#}
{#                <!-- Page 1 -->#}
{#                <div class="modal-body modal-body-step-1 is-showing">#}
                    {#                <div class="title">#}
                    {#                    Are You A Night-Shift Worker?#}
                    {#                </div>#}
{#                    <div class="description">#}
{#                        Are You or Your Family A Night-Shift Worker?#}
{#                    </div>#}
{##}
{#                    <div class="button-wrap">#}
{#                        <button class="button button-left" role="button">Yes</button>#}
{#                        <button class="button button-right" role="button">No</button>#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{#                <!-- Page 2 -->#}
{#                <div class="modal-body modal-body-step-2">#}
{#                    <div class="description">#}
{#                        Want to know how safe your workplace area is?#}
{#                    </div>#}
{##}
{#                    <div class="button-wrap">#}
{#                        <button class="button button-left" role="button">Yes</button>#}
{#                        <button class="button button-right" role="button">Next</button>#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{#                <!-- Page 3 -->#}
{#                <div class="modal-body modal-body-step-3">#}
{#                    <div class="description">#}
{#                        Need to set up an SMS alert for your family in advance?#}
{#                    </div>#}
{##}
{##}
{#                    <div class="button-wrap">#}
{#                        <button class="button button-left" role="button">Yes</button>#}
{#                        <button class="button button-right" role="button">Next</button>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Page 4 -->#}
{#                <div class="modal-body modal-body-step-4">#}
{#                    <div class="description">#}
{#                        Find out more on health and safety!#}
{#                    </div>#}
{##}
{##}
{#                    <div class="button-wrap">#}
{#                        <div class="button rerun" role="button">Got it!</div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}


        {#        <div class="item">#}
        {#            <a target="_blank" rel="noreferrer" href="{% url 'sms:sms_home' %}"></q><p class="item-1"><i class="fa fa-envelope-o"></i> Alert your family in case of emergency.</p></a>#}
        {#            <a target="_blank" rel="noreferrer" href="{% url 'crime:crime_home' %}"><p class="item-2"><i class="fa fa-question-circle-o"></i> How safe is your suburb?</p></a>#}
        {#            <a target="_blank" rel="noreferrer" href="{% url 'safety_info:safety_info_home' %}"><p class="item-3"><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Stay up to date with Health & Safety Tips.</p></a>#}
        {#        </div>#}

    </div>

    <div id="description" class="positioner">
        <div class="item description-1">
            <div class="flex-wrapper-center">
                <a href="{% url 'sms:sms_home' %}"><h1>Safety Switch</h1></a>
            </div>
            <p class="lead description-text"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> Alerter system for
                your family.</p>
            <p class="lead"><a href="{% url 'sms:sms_home' %}" class="width-group index-btn">Set Up</a></p>
        </div>


        <div class="item description-2">
            <div class="flex-wrapper-center">
                <a href="{% url 'crime:crime_home' %}"><h1>Crime Stats</h1></a>
            </div>
            <p class="lead description-text"><i class="fa fa-bar-chart" aria-hidden="true"></i> Look up crime rate by
                area.</p>
            <p class="lead"><a href="{% url 'crime:crime_home' %}" class="width-group index-btn">Dive In</a></p>
        </div>

        <div class="item description-3">
            <div class="flex-wrapper-center">
                <a href="{% url 'safety_info:safety_info_home' %}"><h1>Safety Tips</h1></a>
            </div>
            <p class="lead description-text"><i class="fa fa-smile-o" aria-hidden="true"></i>
                Everyone in Australia should know.</p>
            <p class="lead"><a href="{% url 'safety_info:safety_info_home' %}" class="width-group index-btn">Explore</a>
            </p>
        </div>


    </div>

    <footer class="positioner">
        <div class="info">
            Monash University 2016 IE Project, by Team 24A <a href="{% url 'about_us' %}">@SpiderWeb</a>
        </div>
    </footer>









{% endblock content %}


{% block js %}
    <script src="{% static 'scripts/index.js' %}"></script>
    <script src="{% static 'scripts/libs/jquery.bgswitcher.js' %}"></script>
    <script>
        $("body").bgswitcher({
            images: ["{% static 'images/index_bg/crime_home_2.jpg' %}", "{% static 'images/index_bg/moon-65957.jpg' %}"],
            effect: "fade",
            interval: 7000
        });

    </script>
{% endblock js %}