{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="{% static 'scripts/d3.v4.js' %}"></script>
    <script>


        function draw(data) {
            var margin = 50,
                    width = 700,
                    height = 300;

            d3.select("body")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .selectAll("circle")
                    .data(data)
                    .enter()
                    .append("circle");

            var x_extent = d3.extent(data, function (d) {
                return d.collision_with_injury
            });

            // new method
            var x_scale = d3.scaleLinear()
                    .range([margin, width - margin])
                    .domain(x_extent);


            var y_extent = d3.extent(data, function (d) {
                return d.dist_between_fail
            });

            var y_scale = d3.scaleLinear()
                    .range([height - margin, margin])
                    .domain(y_extent);

            d3.selectAll("circle")
                    .attr("cx", function (d) {
                        return x_scale(d.collision_with_injury)
                    })
                    .attr("cy", function (d) {
                        return y_scale(d.dist_between_fail)
                    });

            d3.selectAll("circle")
                    .attr("r", 5);

            //adding Axes
            {#            var x_axis#}
            {#                    = d3.svg.axis().scale(x_scale);#}
            var x_axis = d3.axisBottom()
                    .scale(x_scale);

            var y_axis = d3.axisLeft()
                    .scale(y_scale);


            d3.select("svg")
                    .append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + (height - margin + 0) + ")")
                    .call(x_axis);

            d3.select("svg")
                    .append("g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + margin + ", 0 )")
                    .call(y_axis);

            d3.select("svg")
                    .append("text")
                    .text("collisions with injury (per million miles)")
                    .attr("x", (width / 3 - margin))
                    .attr("y", height - margin / 4);

            d3.select("svg")
                    .append("text")
                    .attr("class", "y label")
                    .attr("text-anchor", "end")
                    .attr("y", -3)
                    .attr("x", -70)
                    .attr("dy", ".75em")
                    .attr("transform", "rotate(-90)")
                    .text("life expectancy (years)");

        }
    </script>

    <style>
        .axis path {
            fill: none;
            stroke: black;
        }

        .axis {
            font-size: 8pt;
            font-family: sans-serif;
        }

        .tick {
            fill: none;
            stroke: black;
        }

        circle {
            stroke: black;
            stroke-width: 0.5px;
            fill: RoyalBlue;
            opacity: 0.6;
        }
    </style>
</head>
<body>


<script>
    d3.json("{% static 'data/bus_perf.json' %}", draw)
</script>
</body>
</html>