{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/sms_home.css' %}">
    {{ form.media }}
    <script src="{% static 'scripts/js.cookie.js' %}"></script>

{% endblock head %}



{% block content %}


    <div class="container-fluid">

        {% if is_sent %}
            <div class="row bg-success">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="text-lg">
                        Your message to {{ receiver }} has been recorded in server and will be sent at the set time.
                    </p>
                </div>
            </div>
        {% elif is_error %}
            <div class="row bg-danger">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="text-lg">{{ is_error }}</p>
                </div>
            </div>
        {% elif cancel_message %}
            <div class="row bg-info">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="text-lg">{{ cancel_message }}</p>
                </div>
            </div>
        {% endif %}


{#        {% if form.errors %}#}
{#            {% for field in form %}#}
{#                {% for error in field.errors %}#}
{#                    <div class="alert alert-danger">#}
{#                        <strong>{{ error|escape }}</strong>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#            {% for error in form.non_field_errors %}#}
{#                <div class="alert alert-danger">#}
{#                    <strong>{{ error|escape }}</strong>#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% endif %}#}


        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h1 class="text-center heading">Safety Switch</h1>

                <ul class="text-18px description-list">

                    <li>
                        Enter alert message.
                    </li>
                    <li>
                        Get a message with cancellation code of your submission.
                    </li>


                </ul>

                <img id="dms-img" class="img-circle center-block" width="300" height="300"
                     src="{% static 'images_raw/text_message.png' %}"/>

            </div>

            <div class="col-lg-3">

                <div class="div-form-selection">
                    <div class="item">
                        <button class="btn btn-info" id="send_button">Send Message</button>
                    </div>
                    <div class="item">
                        <button class="btn btn-danger" id="cancel_button">Cancel Message</button>
                    </div>
                </div>
                <p id="sms_info">You are sending message.</p>

                <div id="sms_form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}


                        <input id="submit-btn" type="submit" value="Submit" class="btn btn-info"/>
                    </form>
                </div>

                <div id="cancel_form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ cancel_form | crispy }}


                        <input type="submit" value="Confirm" class="btn btn-info"/>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}



{% block js %}
    <script src="{% static 'scripts/navbar-bg.js' %}"></script>
    <script src="{% static 'scripts/sms_home.js' %}"></script>
    {% if is_sent or is_error or cancel_message %}
        <script>
            $(".navbar").css("margin-bottom", "0")
        </script>
    {% endif %}
{% endblock js %}